
#logo{
text-align: center;
padding-top: 10%;
}
.paragraphon{
    text-align: center;
    font-weight: lighter;
    color:peru;
}
/* #dashboard{ */
    /* color: gold; */
    /* text-align: center; */
    /* font-family: serif; */
    /* font-size: x-large; */
    /* font-style: oblique; */
/* } */
#center{
    text-align: center;
}
body{
    
    background-image: url(.jpg);
}